<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <!-- Title and other stuffs -->
        <title>{% block title %}INTERSA SAS{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/spinner.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/rateit.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery.cleditor.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery.onoff.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/widgets.css') }}" />
            <link rel="stylesheet" href="{{ asset('js/bootstrap-dialog/prettify.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/Select2-V4.0.1/select2.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/touchspin/jquery.bootstrap-touchspin.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/bootstrap-switch2/bootstrap-switch.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/input-spinner/input-spinner.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/dropzone/dropzone.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/titatoggle/titatoggle-dist.css') }}" />
            <link rel="stylesheet" href="{{ asset('pluguin/validationEngine/validationEngine.jquery.css') }}" />
            <!--link rel="stylesheet" href="{#{ asset('pluguin/titatoggle/_titatoggle.less') }#}" /-->
            <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}" />
             <link rel="stylesheet" href="{{ asset('pluguin/jQuery-Autocomplete-master/styles.css') }}" />




        {% endblock %}
        <script src="{{asset('js/respond.min.js')}}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% include "::layout/header.html.twig" %}

        <div class="content">
            {#% include "::layout/sidebar.html.twig" %#}

            <div class="mainbar">

                <!-- Page heading -->
                <div class="page-head">
                    <!--h2 class="pull-left">
                        <a href="{#{path('acceuil')}#}">   <i class="fa fa-home"></i>
                            &nbsp Accueil</a></h2-->

                    <!-- Breadcrumb -->

                    <div class="clearfix"></div>

                </div>
                <!-- Page heading ends -->
            {% block body %}{% endblock %}




        </div>
        <!-- Mainbar ends -->
        <div class="clearfix"></div>

    </div>
    <!-- Content ends -->
    {% include "::layout/footer.html.twig" %}
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
            {% block javascripts %}
        <script src="{{asset('js/jquery.js')}}"></script>
        <script src="{{asset('js/json2/json2.js')}}"></script>
        <script src="{{asset('js/bootstrap.js')}}"></script>
        <script src="{{asset('js/ie-emulation-modes-warning.js')}}"></script>
        <script src="{{asset('js/ie10-viewport-bug-workaround.js')}}"></script>

        <script src="{{asset('js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('js/fullcalendar.min.js')}}"></script>
        <script src="{{asset('js/jquery.rateit.min.js')}}"></script>


        <script src="{{asset('js/jquery.prettyPhoto.js')}}"></script>


        <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script>
        <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>

<!--script src="{#{asset('pluguin/select2-dropdawn/select2.js')}#}"></script-->
        <script src="{{asset('pluguin/Select2-V4.0.1/select2.full.js')}}"></script>

        <script src="{{asset('js/excanvas.min.js')}}"></script>
        <script src="{{asset('js/jquery.flot.js')}}"></script>
        <script src="{{asset('js/jquery.flot.resize.js')}}"></script>
        <script src="{{asset('js/jquery.flot.pie.js')}}"></script>
        <script src="{{asset('js/jquery.flot.stack.js')}}"></script>
        <script src="{{asset('js/jquery.noty.js')}}"></script>
        <script src="{{asset('js/themes/default.js')}}"></script>
        <script src="{{asset('js/layouts/bottom.js')}}"></script>
        <script src="{{asset('js/layouts/topRight.js')}}"></script>
        <script src="{{asset('js/layouts/top.js')}}"></script>
        <script src="{{asset('js/sparklines.js')}}"></script>
        <script src="{{asset('js/jquery.cleditor.min.js')}}"></script>

        <script src="{{asset('js/spinner/spinner.js')}}"></script>
        <script src="{{asset('pluguin/touchspin/jquery.bootstrap-touchspin.js')}}"></script>

        <script src="{{asset('pluguin/input-spinner/input-spinner.js')}}"></script>

        <script src="{{asset('pluguin/bootstrap-switch2/bootstrap-switch.js')}}"></script>

        <script src="{{asset('js/bootstrap-datetimepicker.min.js')}}"></script>
        <script src="{{asset('js/bootstrap-dialog/bootstrap-dialog.min.js')}}"></script>
        <!--script src="{#{asset('bundles/fosjsrouting/js/router.js') }#}"></script-->
        <!--script src="{#{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }#}"></script-->
        <script src="{{asset('js/jquery.onoff.min.js')}}"></script>
        <script src="{{asset('js/filter.js')}}"></script>
        <script src="{{asset('js/custom.js')}}"></script>
        <script src="{{asset('js/charts.js')}}"></script>

        <script src="{{asset('pluguin/dropzone/dropzone.js')}}"></script>

        <script src="{{asset('pluguin/validationEngine/jquery.validationEngine-fr.js')}}"></script>
        <script src="{{asset('pluguin/validationEngine/jquery.validationEngine.js')}}"></script>
        
         <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
         <script src="{{asset('pluguin/jQuery-Autocomplete-master/jquery.autocomplete.js')}}"></script>





 <!--script src="{#{asset('js/tabs.js')}#}"></script-->


    {% endblock %}
    <!-- Script for this page -->
    <script type="text/javascript">
        $(function () {

            /* Bar Chart starts */

            var d1 = [];
            for (var i = 0; i <= 20; i += 1)
                d1.push([i, parseInt(Math.random() * 30)]);

            var d2 = [];
            for (var i = 0; i <= 20; i += 1)
                d2.push([i, parseInt(Math.random() * 30)]);


            var stack = 0, bars = true, lines = false, steps = false;

            function plotWithOptions() {
                $.plot($("#bar-chart"), [d1, d2], {
                    series: {
                        stack: stack,
                        lines: {show: lines, fill: true, steps: steps},
                        bars: {show: bars, barWidth: 0.8}
                    },
                    grid: {
                        borderWidth: 0, hoverable: true, color: "#777"
                    },
                    colors: ["#ff6c24", "#ff2424"],
                    bars: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: {colors: [{opacity: 0.9}, {opacity: 0.8}]}
                    }
                });
            }

            plotWithOptions();

            $(".stackControls input").click(function (e) {
                e.preventDefault();
                stack = $(this).val() == "With stacking" ? true : null;
                plotWithOptions();
            });
            $(".graphControls input").click(function (e) {
                e.preventDefault();
                bars = $(this).val().indexOf("Bars") != -1;
                lines = $(this).val().indexOf("Lines") != -1;
                steps = $(this).val().indexOf("steps") != -1;
                plotWithOptions();
            });

            /* Bar chart ends */

        });


        /* Curve chart starts */

        $(function () {
            var sin = [], cos = [];
            for (var i = 0; i < 14; i += 0.5) {
                sin.push([i, Math.sin(i)]);
                cos.push([i, Math.cos(i)]);
            }

            var plot = $.plot($("#curve-chart"),
                    [{data: sin, label: "sin(x)"}, {data: cos, label: "cos(x)"}], {
                series: {
                    lines: {show: true, fill: true},
                    points: {show: true}
                },
                grid: {hoverable: true, clickable: true, borderWidth: 0},
                yaxis: {min: -1.2, max: 1.2},
                colors: ["#1eafed", "#1eafed"]
            });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css({
                    position: 'absolute',
                    display: 'none',
                    top: y + 5,
                    left: x + 5,
                    border: '1px solid #000',
                    padding: '2px 8px',
                    color: '#ccc',
                    'background-color': '#000',
                    opacity: 0.9
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#curve-chart").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));

                if ($("#enableTooltip:checked").length > 0) {
                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                            showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + x + " = " + y);
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                }
            });

            $("#curve-chart").bind("plotclick", function (event, pos, item) {
                if (item) {
                    $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                    plot.highlight(item.series, item.datapoint);
                }
            });

        });

        /* Curve chart ends */
    </script>
</body>
</html>
